@model ApexCareSolutions.Models.ServiceAgent

<h2>Service Agent Details</h2>

<div>
    <h4>Service Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Agent ID</dt>
        <dd>@Model.AgentID</dd>
        <dt>Username</dt>
        <dd>@Model.Username</dd>
        <dt>First Name</dt>
        <dd>@Model.FirstName</dd>
        <dt>Last Name</dt>
        <dd>@Model.LastName</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.AgentID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
