@model IEnumerable<ApexCareSolutions.Models.Technician>

<h2>Technician List</h2>

<table class="table">
    <thead>
        <tr>
            <th>TechnicianID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var technician in Model)
        {
            <tr>
                <td>@technician.TechnicianID</td>
                <td>@technician.Username</td>
                <td>@technician.FirstName</td>
                <td>@technician.LastName</td>
                <td>@technician.Phone</td>
                <td>@technician.Email</td>
            </tr>
        }
    </tbody>
</table>
